@model eShopSolution.ViewModels.Catalog.Products.CategoryAssignRequest

@{
    ViewData["Title"] = "Gán danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Thêm danh mục</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Gán danh mục</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">

             <form asp-action="CategoryAssign">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Select Categories</legend>
                    <div class="col-sm-10">
                        
                        <input type="hidden" asp-for="Id" />
                        @for (var i = 0; i < Model.Categories.Count; i++)
                        {
                            <div class="form-check">
                                <label class="form-check-label" for="gridCheck1">
                                    @Model.Categories[i].Name
                                </label>
                                    <input class="form-check-input" type="checkbox" id="gridCheck1" asp-for="Categories[i].Selected">

                                <input type="hidden" asp-for="Categories[i].Id" />
                                <input type="hidden" asp-for="Categories[i].Name" />
                            </div>

                        }
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu lại" class="btn btn-outline-primary" />
                    </div>
                </form>
        </div>
    </div>
</div>
</div>