@model eShopSolution.ViewModels.Catalog.Products.ProductCreateRequest

@{
    ViewData["Title"] = "Tạo mới sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
    
   @* <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>*@
   @* <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build(); // Replace with the appropriate hub URL

        connection.on("SendMessage", function (product) {
            // Update the product list in the Index view with the new product information
            // You can use JavaScript/jQuery to update the DOM dynamically
            console.log(product);
        });

        connection.start().then(function () {
            console.log("Connected to the product hub.");
        }).catch(function (err) {
            console.error(err.toString(),111);
        });
    </script>*@
}
    
    <div class="container-fluid">
        <h1 class="mt-4">Tạo mới sản phẩm</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item">Danh sách sản phẩm</li>
            <li class="breadcrumb-item active">Tạo mới sản phẩm</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-success" asp-action="Index" asp-controller="Product">Về danh sách</a>
            </div>

            <div class="card-body">
                <div class="col-md-4">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row mb-3">
                            <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
                            <div class="col-sm-10">
                                <input asp-for="Name" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                        <div class="row mb-3">
                            <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                            <div class="col-sm-10">
                                <input asp-for="Description" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>
                        <div class="row mb-3">
                            <label asp-for="Price" class="col-sm-2 col-form-label">Price</label>
                            <div class="col-sm-10">
                                <input asp-for="Price" type="number" class="form-control">
                            </div>
                            <span asp-validation-for="Price" class="text-danger"></span>

                        </div>
                        <div class="row mb-3">
                            <label asp-for="OriginalPrice" class="col-sm-2 col-form-label">OriginalPrice</label>
                            <div class="col-sm-10">
                                <input asp-for="OriginalPrice" type="number" class="form-control">
                            </div>
                            <span asp-validation-for="OriginalPrice" class="text-danger"></span>

                        </div>
                        <div class="row mb-3">
                            <label asp-for="SeoDescription" class="col-sm-2 col-form-label">SeoDescription</label>
                            <div class="col-sm-10">
                                <input asp-for="SeoDescription" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="SeoDescription" class="text-danger"></span>

                        </div>
                        <div class="row mb-3">
                            <label asp-for="SeoTitle" class="col-sm-2 col-form-label">SeoTitle</label>
                            <div class="col-sm-10">
                                <input asp-for="SeoTitle" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="SeoTitle" class="text-danger"></span>

                        </div>
                        <div class="row mb-3">
                            <label asp-for="SeoAlias" class="col-sm-2 col-form-label">SeoAlias</label>
                            <div class="col-sm-10">
                                <input asp-for="SeoAlias" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="SeoAlias" class="text-danger"></span>

                        </div>
                        <div class="row mb-3">
                            <label asp-for="Details" class="col-sm-2 col-form-label">Details</label>
                            <div class="col-sm-10">
                                <input asp-for="Details" type="text" class="form-control">
                            </div>
                            <span asp-validation-for="Details" class="text-danger"></span>

                        </div>
                        <div class="row mb-3">
                            <legend class="col-form-label col-sm-2 pt-0">Select Categories</legend>
                                <div class="col-sm-10">
                                    <input type="hidden" asp-for="SelectCategories.Id" />
                                    @for (var i = 0; i < Model.SelectCategories.Categories.Count; i++)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck1" asp-for="SelectCategories.Categories[i].Selected">
                                            <label class="form-check-label" for="gridCheck1">
                                                @Model.SelectCategories.Categories[i].Name
                                            </label>
                                            <input type="hidden" asp-for="SelectCategories.Categories[i].Id" />
                                            <input type="hidden" asp-for="SelectCategories.Categories[i].Name" />
                                        </div>
                                    }
                                </div>
                        </div>
                        <div class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Select Ingredients</legend>
                            <div class="col-sm-10">
                                <input type="hidden" asp-for="SelectIngredients.Id" />
                                @for (var i = 0; i < Model.SelectIngredients.Ingredients.Count; i++)
                                    {
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="gridCheck1" asp-for="SelectIngredients.Ingredients[i].Selected">
                                                <label class="form-check-label" for="gridCheck1">
                                                @Model.SelectIngredients.Ingredients[i].Name
                                                </label>
                                            <input type="hidden" asp-for="SelectIngredients.Ingredients[i].Id" />
                                            <input type="hidden" asp-for="SelectIngredients.Ingredients[i].Name" />
                                        </div>
                                    }
                                </div>
                            </div>
                        <div class="row mb-3">
                            <label asp-for="ThumbnailImage" class="col-sm-2 col-form-label">Image Upload</label>
                            <div class="col-sm-10">
                                <input asp-for="ThumbnailImage" class="form-control" type="file" id="formFile" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Lưu lại" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
