<section class="gallery-wrap margin-medium">
  <div class="container">
    <h2 class="section-title mb-5 text-center">View Our Gallery</h2>
    <div class="row">
      <div class="d-flex flex-wrap col-md-12">
        <figure class="col-md-4 mb-3 pl-0">
          <a class="magnific-popup" href="./assets/images/blackforest.jpg">
            <img src="./assets/images/blackforest.jpg" alt="cake" class="galleryImg">
            <div class="overlay">
              <i class="icon icon-search-plus"></i>
            </div><!--imgOverlay-->
          </a>
        </figure>
        <figure class="col-md-4 mb-3 pl-0">
          <a class="magnific-popup" href="./assets/images/macarons.jpg">
            <img src="./assets/images/macarons.jpg" alt="cake" class="galleryImg">
            <div class="overlay">
              <i class="icon icon-search-plus"></i>
            </div><!--imgOverlay-->
          </a>
        </figure>
        <figure class="col-md-4 mb-3 pl-0">
          <a class="magnific-popup" href="./assets/images/blackforest.jpg">
            <img src="./assets/images/blackforest.jpg" alt="cake" class="galleryImg">
            <div class="overlay">
              <i class="icon icon-search-plus"></i>
            </div><!--imgOverlay-->
          </a>
        </figure>
        <figure class="col-md-4 mb-3 pl-0">
          <a class="magnific-popup" href="./assets/images/cakeitem.jpg">
            <img src="./assets/images/blackforest.jpg" alt="cake" class="galleryImg">
            <div class="overlay">
              <i class="icon icon-search-plus"></i>
            </div><!--imgOverlay-->
          </a>
        </figure>
        <figure class="col-md-4 mb-3 pl-0">
          <a class="magnific-popup" href="./assets/images/macarons.jpg">
            <img src="./assets/images/macarons.jpg" alt="cake" class="galleryImg">
            <div class="overlay">
              <i class="icon icon-search-plus"></i>
            </div><!--imgOverlay-->
          </a>
        </figure>
        <figure class="col-md-4 mb-3 pl-0">
          <a class="magnific-popup" href="./assets/images/sprinkleddonuts.jpg">
            <img src="./assets/images/sprinkleddonuts.jpg" alt="cake" class="galleryImg">
            <div class="overlay">
              <i class="icon icon-search-plus"></i>
            </div><!--imgOverlay-->
          </a>
        </figure>
      </div><!--content-->
      <div class="pix_btn text-center m-auto">
        <a routerLink="/all-product" class="btn-hvr-effects mt-3">View All</a>
      </div>
    </div>
  </div>
</section>
