<section class="best-products margin-large">
  <div class="container">
    <h2 class="section-title text-center mb-4">Best Product</h2>
    <div class="row">
      <div class="d-flex products-slider">

        <div class="product-item col-md-3 pl-0">
          <a routerLink="/detail-product" class="product-image"><img src="./assets/images/cake-item1.jpg"></a>
          <div class="text-comtent text-center text-hover">
            <h5 class="pt-4"><a routerLink="/detail-product">Black Forest Pastry</a></h5>
            <p>Cake - Pastries</p>
            <span class="price colored">$12</span>
          </div>
        </div>
        <div class="product-item col-md-3 pl-0">
          <a routerLink="/detail-product" class="product-image"><img src="./assets/images/cake-item2.jpg"></a>
          <div class="text-comtent text-center text-hover">
            <h5 class="pt-4"><a routerLink="/detail-product">Sprinkled Donuts</a></h5>
            <p>Cake - Pastries</p>
            <span class="price colored">$12</span>
          </div>
        </div>
        <div class="product-item col-md-3 pl-0">
          <a routerLink="/detail-product" class="product-image"><img src="./assets/images/cake-item3.jpg"></a>
          <div class="text-comtent text-center text-hover">
            <h5 class="pt-4"><a routerLink="/detail-product">Black Forest Cupcake</a></h5>
            <p>Cake - Pastries</p>
            <span class="price colored">$12</span>
          </div>
        </div>
        <div class="product-item col-md-3 pl-0">
          <a routerLink="/detail-product" class="product-image"><img src="./assets/images/cake-item4.jpg"></a>
          <div class="text-comtent text-center text-hover">
            <h5 class="pt-4"><a routerLink="/detail-product">Macarons with Berries</a></h5>
            <p>Cake - Pastries</p>
            <span class="price colored">$12</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
