<div id="main-wrapper" class="overflow-hidden">

  <section class="bg-sand padding-large">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <a href="#" class="product-image"><img src="../../../assets/product/Tangy-Electrolyte-Drink.jpg"></a>
        </div>

        <div class="col-md-6 pl-5">
          <div class="product-detail">
            <h5 class="pt-4"><a href="#">Tangy Electrolyte Drink</a></h5>
            <p>VEGETABLE JUICE</p>
            <span class="price colored">$12</span>

            <p>
              It's very important to have a patient, and it will be followed by an adipiscing process, but I'll give it that way
              in time they occur as with great labor and pain. Over the years, I will come,
              no one should practice any kind of work except to gain some benefit from it
              consequence
            </p>
            <p>
              Doubts or irure pain in reprimanding in pleasure wants to be
              let no hair flee from pain Except they are not blinded by lust
              they go forth, they are in fault who abandon their duties;
            </p>

            <label for="delivery-date">Delivery Date</label>
            <input type="text" id="delivery-date" class="input-text" name="delivery-date" placeholder="Delivery Date">

            <label class="screen-reader-text" for="qty">Black Forest Pastry Quantity</label>
            <input type="number" id="qty" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
            <button type="submit" name="add-to-cart" value="27545" class="button">Add to cart</button>

          </div>
        </div>

      </div>
    </div>
  </section>
</div>
