<div id="main-wrapper" class="overflow-hidden">

  <section class="bg-sand padding-large">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <a class="product-image"><img [src]="getImage(detailProduct.listImg)"></a>
        </div>

        <div class="col-md-6 pl-5">
          <div class="product-detail">
            <h5 class="pt-4"><a>{{detailProduct.name}}</a></h5>
            <span class="price colored">{{detailProduct.price + unit}}</span>

            <p>
              {{detailProduct.description}}
            </p>

            <label class="screen-reader-text" for="qty">Black Forest Pastry Quantity</label>
            <input [(ngModel)]="quantity" type="number" id="qty" class="input-text qty text" step="1" min="1" max="" name="quantity" value="1" title="Qty" size="4" placeholder="" inputmode="numeric">
            <button type="submit" name="add-to-cart" value="27545" class="button" (click)="addToCart(detailProduct, quantity)">Thêm vào giỏ hàng</button>
          </div>
        </div>

      </div>

<!--      comment-->
      <nz-list *ngIf="data.length" [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
        <ng-template #item let-item>
          <nz-comment [nzAuthor]="item.author" [nzDatetime]="item.displayTime">
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.avatar"></nz-avatar>
            <nz-comment-content>
              <p>{{ item.content }}</p>
            </nz-comment-content>
          </nz-comment>
        </ng-template>
      </nz-list>
      <nz-comment class="pt-5">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="emptyAva"></nz-avatar>
        <nz-comment-content>
          <nz-form-item>
            <textarea [disabled]="isLogin ? false : true" [placeholder]="isLogin ? 'Mời nhập bình luận của bạn' : 'Mời đăng nhập để có thể thêm bình luận'" [(ngModel)]="inputValue" nz-input rows="4"></textarea>
          </nz-form-item>
          <nz-form-item>
            <button style="background-color: #CE3C83" class="color-white button mt-0" nz-button [nzLoading]="submitting" (click)="submit()">
             {{isLogin ? 'Bình luận' : 'Đăng nhập'}}
            </button>
          </nz-form-item>
        </nz-comment-content>
      </nz-comment>
      <nz-divider nzText="Bình luận" nzOrientation="left"></nz-divider>
<!--      list comment-->
      <ng-container *ngFor="let item of listComments">
        <nz-comment [nzAuthor]="item.userName">
          <nz-avatar
            nz-comment-avatar
            nzIcon="user"
            [nzSrc]="emptyAva"
          ></nz-avatar>
          <nz-comment-content>
            <p>
              {{item.commentText}}
            </p>
          </nz-comment-content>
          <nz-comment-action>
        <span
          nz-tooltip
          nzTitle="Like"
          nz-icon
          nzType="like"
          [nzTheme]="likes > 0 ? 'twotone' : 'outline'"
          (click)="like()"
        ></span>
            <span class="count like">{{ likes }}</span>
          </nz-comment-action>
          <nz-comment-action>
        <span
          nz-tooltip
          nzTitle="Dislike"
          nz-icon
          nzType="dislike"
          [nzTheme]="dislikes > 0 ? 'twotone' : 'outline'"
          (click)="dislike()"
        ></span>
            <span class="count dislike">{{ dislikes }}</span>
          </nz-comment-action>
          <nz-comment-action>Phản hồi
          </nz-comment-action>
        </nz-comment>
      </ng-container>
    </div>
  </section>
</div>
<app-cart #cart></app-cart>

<ng-template #contentTemplate>
  123
</ng-template>
