<div id="header-wrap">
  <div class="header-top-menu bg-black color-secondary">
    <div class="container">
      <div class="row">
        <div class="wrap flex-container padding-small">
          <div class="contact-block d-flex align-items-center">
            <span class="pr-50"><i class="icon icon-phone"></i>5555-00-444</span>
            <span class="color-secondary"><i class="icon icon-envelope-o"></i><a href="#"> healthydrink@gmail.com</a></span>
          </div>

          <div class="header-top-right">
            <ul class="d-flex list-unstyled color-secondary">
              <li class="d-flex align-items-center mr-5"><i class="fs-4 pr-2 bi bi-person-circle"></i><a routerLink="/account">My Account</a></li>
              <li class="d-flex align-items-center"><i class="fs-4 pr-2 bi bi-cart-plus"></i><a (click)="openCart()">Card</a></li>
            </ul>
          </div>
        </div>
        <!--flex-container-->
      </div>
    </div>
  </div>
  <!----top-menu---->

  <header id="header">
    <div class="container">
      <div class="row">

        <nav class="navbar navbar-expand-lg col-md-12">
          <div class="row">
            <div class="col-2">
              <div class="navbar-brand ">
                <a routerLink="/">
                  <img style="max-width: 75%" src="../../../assets/images/28565132.jpg">
                </a>
              </div>
            </div>
            <div class="d-flex col-9">
              <div class="navbar-collapse collapse" id="slide-navbar-collapse">
              <ul class="navbar-nav list-inline text-uppercase">
                <li class="nav-item text-hover active"><a routerLink="/" class="nav-link" data-effect="Home">Home</a></li>
                <li class="nav-item text-hover"><a routerLink="/about-us" class="nav-link" data-effect="About Us">About us</a></li>
                <li class="nav-item text-hover"><a routerLink="/blog" class="nav-link" data-effect="Blogs">Blog</a></li>
                <li class="nav-item text-hover"><a routerLink="/contact" class="nav-link" data-effect="Contact">Contact us</a></li>

                <!--              <li class="nav-item dropdown">-->
                <!--                <a href="#" data-bs-toggle="dropdown" aria-expanded="false" class="nav-link dropdown-toggle">Pages</a>-->
                <!--                <ul class="dropdown-menu">-->
                <!--                  <li><a href="about.html" class="dropdown-item">About us</a></li>-->
                <!--                  <li><a href="blog.html" class="dropdown-item">Blog</a></li>-->
                <!--                  <li><a href="single-post.html" class="dropdown-item">Single Post</a></li>-->
                <!--                  <li><a href="contact.html" class="dropdown-item">Contact us</a></li>-->
                <!--                  <li><a href="shop.html" class="dropdown-item">Shop</a></li>-->
                <!--                  <li><a href="single-product.html" class="dropdown-item">Single Product</a></li>-->
                <!--                </ul>-->
                <!--              </li>-->

              </ul>
            </div>
            </div>
          </div>
        </nav>

      </div>
    </div>

  </header>
</div>
<app-cart #cart></app-cart>
