<div id="header-wrap">
  <div class="header-top-menu bg-black color-secondary">
    <div class="container">
      <div class="row">
        <div class="wrap flex-container padding-small align-items-center">
          <div nz-col nzSpan="6">
            <div class="contact-block d-flex align-items-center">
              <span class="pr-50"><i class="icon icon-phone"></i>5555-00-444</span>
              <span class="color-secondary"><i class="icon icon-envelope-o"></i><a
                href="#"> healthydrink@gmail.com</a></span>
            </div>
          </div>
          <div nz-col nzSpan="9">
            <nz-input-group [nzPrefix]="prefixTemplateSearch">
              <input nz-input size="large" placeholder="Tìm kiếm" (blur)="search()" (keydown.enter)="search()" [(ngModel)]="textSearch">
            </nz-input-group>
          </div>
          <div class="header-top-right">
            <ul class="d-flex list-unstyled color-secondary">
              <div *ngIf="!checkAcc()">
                <li class="d-flex align-items-center mr-5"><i class="fs-4 pr-2 bi bi-person-circle"></i><a
                  routerLink="/account">Tài khoản</a></li>
              </div>
              <div *ngIf="checkAcc()">
                <li class="d-flex align-items-center mr-5">
                  <i class="fs-4 pr-2 bi bi-person-circle"></i>
                  <a nz-dropdown [nzDropdownMenu]="menu"> {{name}} <span nz-icon nzType="down"></span></a></li>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li (click)="logout()" class="text-danger fs-5" nz-menu-item>Đăng xuất</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
              <div class="pt-3p">
                <nz-badge [nzCount]="numberProductInCart">
                  <a class="head-example" (click)="openCart()"><span class="pr-1 fs-4" nz-icon nzType="shopping-cart"
                                                                     nzTheme="outline"></span>Giỏ hàng</a>
                </nz-badge>
              </div>
            </ul>
          </div>
        </div>
        <!--flex-container-->
      </div>
    </div>
  </div>
  <!----top-menu---->

  <header id="header">
    <div class="container">
      <div class="row">

        <nav class="navbar navbar-expand-lg col-md-12">
          <div class="row">
            <div class="col-2">
              <div class="navbar-brand ">
                <a routerLink="/">
                  <img style="max-width: 75%" src="../../../assets/images/28565132.jpg">
                </a>
              </div>
            </div>
            <div class="d-flex col-9">
              <div class="navbar-collapse collapse" id="slide-navbar-collapse">
                <ul class="navbar-nav list-inline text-uppercase">
                  <li class="nav-item text-hover active"><a routerLink="/" class="nav-link" data-effect="Home">Trang
                    chủ</a>
                  </li>
                  <li class="nav-item text-hover"><a routerLink="/all-product" class="nav-link" data-effect="Shopping">Cửa
                    hàng</a></li>
                  <li class="nav-item text-hover"><a class="nav-link" data-effect="Blogs" (click)="openListOrder()">Đơn
                    hàng</a>
                  </li>
                  <li class="nav-item text-hover"><a routerLink="/about-us" class="nav-link" data-effect="Contact">Liên
                    hệ</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>

      </div>
    </div>

  </header>
</div>
<app-cart #cart></app-cart>
<ng-template #prefixTemplateSearch><span nz-icon nzType="search" nzTheme="outline"></span></ng-template>
