<section class="special-items mb-5">
  <div class="item-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 color-white">
          <h2 class="section-title color-white mb-4">
            Chocolate Mousse
          </h2>
          <p>All of our products are made from scratch using family recipes with the highest quality ingredients. We bake and sell fresh daily to ensure only the best products are sold to our customers.</p>

          <div class="pix_btn mt-4">
            <a class="btn btn-outline-light">
              <span>Mua ngay</span>
            </a>
          </div>
        </div><!--item-content-->
      </div>
    </div>
  </div>
</section>
