<nz-spin [nzSpinning]="isLoading">
  <ng-container *ngIf="listProducts.length">
    <div class="site-banner">
      <div class="banner-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="colored">
                <h1>Shop</h1>
                <div class="breadcum-items">
                  <span class="item"><a href="../../../index.html">Home /</a></span>
                  <span class="item colored">Shop</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--site-banner-->
    <section class="our-team bg-sand padding-large">
      <div class="container">
        <div class="row">
          <div *ngFor="let item of listProducts" class="product-item col-md-3 pb-4">
            <a (click)="getDetailProduct(item.id)" class="product-image"><img [src]='getImage(item.thumbnailImage)'></a>
            <div class="text-comtent text-center">
              <h5 class="pt-4"><a (click)="getDetailProduct(item.id)">{{item.name}}</a></h5>
              <span class="price colored">{{item.price}}VNĐ</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
    <ng-container *ngIf="searchValue && !listProducts.length">
      <nz-result nzStatus="warning" nzTitle="Không có kết quả nội dung bạn đang tìm kiếm">
        <div nz-result-extra>
          <button class="text-white color-primary" routerLink="/">Về trang chủ</button>
        </div>
      </nz-result>
    </ng-container>
</nz-spin>
