<section class="best-products margin-large">
  <div class="container">
    <h2 class="section-title text-center mb-4">Sản phẩm bán chạy</h2>
    <div class="row">
      <div class="d-flex products-slider">
        <ng-container *ngFor="let item of listProductsBestSaller">
          <div class="product-item col-md-3 pl-0">
            <a (click)="getDetailProduct(item.id)" class="product-image"><img [src]='getImage(item.thumbnailImage)'></a>
            <div class="text-comtent text-center text-hover">
              <h5 class="pt-4"><a (click)="getDetailProduct(item.id)">{{item.name}}</a></h5>
              <span class="price colored">{{item.price}}VNĐ</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
