<section class="about-us margin-medium">
  <div class="container">
    <div class="row">
      <div class="nav-tabs-wrap products-tab">

        <h2 class="section-title text-center">About Us</h2>

        <nav>
          <div class="nav nav-tabs padding-small text-hover" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-missions-tab" data-bs-toggle="tab" data-bs-target="#nav-missions" role="tab" aria-controls="nav-missions" aria-selected="true">Our Missions</a>
            <a class="nav-link" id="nav-values-tab" data-bs-toggle="tab" data-bs-target="#nav-values" role="tab" aria-controls="nav-values" aria-selected="false">Our Values
            </a>
            <a class="nav-link" id="nav-goals-tab" data-bs-toggle="tab" data-bs-target="#nav-goals" role="tab" aria-controls="nav-goals" aria-selected="false">Our Goals</a>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" role="tabpanel" id="nav-missions" aria-labelledby="nav-missions-tab">
            <div class="col-md-12">
              <div class="row">

                <div class="col-md-6">
                  <div class="product-image" style="background-image: url(../../../assets/images/tabimg.jpg);background-size: cover;"></div>
                </div>

                <div class="text-content col-md-6 bg-Peach p-5">
                  <h3 class="mb-4">
                    Providing quality products for all be happy and peace
                  </h3>
                  <p>A gorgeous selection of our favorites for a client to send as a new year’s gift. A gorgeous selection of our favorites for a client to send as a new year’s gift.
                    A gorgeous selection of our favorites for a client to send as a new year’s gift.</p>
                  <p>A gorgeous selection of our favorites for a client to send as a new year’s gift. A gorgeous selection of our favorites for a client to send as a new year’s gift.</p>
                  <div class="pix_btn mt-4">
                    <a href="#" class="btn-hvr-effects">read more</a>
                  </div>
                </div>
              </div>
            </div><!--content-->
          </div><!--tab-pane-->

          <div class="tab-pane fade" role="tabpanel" id="nav-values" aria-labelledby="nav-values-tab">
            <div class="col-md-12">
              <div class="row">

                <div class="col-md-6">
                  <div class="product-image" style="background-image: url(../../../assets/images/tabimg1.jpg);background-size: cover;"></div>
                </div>

                <div class="text-content col-md-6 bg-Peach p-5">
                  <h3 class="mb-4">
                    This products for all be happy and peace
                  </h3>
                  <p>A gorgeous selection of our favorites for a client to send as a new year’s gift. A gorgeous selection of our favorites for a client to send as a new year’s gift. A gorgeous selection of our favorites for a client to send as a new year’s gift.</p>
                  <div class="pix_btn mt-4">
                    <a href="#" class="btn-hvr-effects">read more</a>
                  </div>
                </div>
              </div>
            </div><!--col-md-12-->
          </div><!--tab-panel-->

          <div class="tab-pane fade" role="tabpanel" id="nav-goals" aria-labelledby="nav-goals-tab">
            <div class="col-md-12">
              <div class="row">

                <div class="col-md-6">
                  <div class="product-image" style="background-image: url(../../../assets/images/tabimg.jpg);background-size: cover;"></div>
                </div>

                <div class="text-content col-md-6 bg-Peach p-5">
                  <h3 class="mb-4">
                    A gorgeous selection of our favorites for a client to send as a new year’s gift.
                  </h3>
                  <p>A gorgeous selection of our favorites for a client to send as a new year’s gift. A gorgeous selection of our favorites for a client to send as a new year’s gift. A gorgeous selection of our favorites for a client to send as a new year’s gift.</p>
                  <div class="pix_btn mt-4">
                    <a href="#" class="btn-hvr-effects">read more</a>
                  </div>
                </div>
              </div>
            </div><!--content-->
          </div><!--tab-panel-->

        </div><!--tab-content-->

      </div><!---with-nav-tabs--->
    </div>
  </div>

</section>
