<div class="site-banner">
  <div class="banner-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content colored">
            <h1>Thông tin doanh nghiệp</h1>
            <div class="breadcum-items">
              <span class="item color-primary"><a href="#">Trang chủ /</a></span>
              <span class="item colored">Liên hệ</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!--site-banner-->

<section class="fs-5 contact-information padding-large mt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-0 mb-3">
        <div class="container">

          <div class="contact-detail d-flex flex-wrap">
            <div class="detail mr-6 mb-4">
              <h3>Họ tên</h3>
              <ul class="list-unstyled">
                <li><span><nz-avatar nzIcon="user" [nzSrc]="avaHoang"></nz-avatar></span><i class="icon icon-phone"></i> Nhữ Sỹ Hoàng (Chủ tịch)</li>
                <li><span><nz-avatar nzIcon="user" [nzSrc]="avaThanh"></nz-avatar></span><i class="icon icon-phone"></i> Phạm Phúc Thành</li>
                <li><span><nz-avatar nzIcon="user" [nzSrc]="avaTan"></nz-avatar></span><i class="icon icon-phone"></i> Kiều Văn Tân</li>
              </ul>
            </div><!--detail-->
            <div class="detail mb-4">
              <h3>Mã số thuế</h3>
              <ul class="list-unstyled">
                <li><i class="icon icon-envelope-o"></i>
                  <a >1654264</a></li>
                <li><i class="icon icon-envelope-o"></i>
                  <a >1547064</a></li>
                <li><i class="icon icon-envelope-o"></i>
                  <a >175664</a></li>
              </ul>
            </div><!--detail-->
            <div class="address detail mb-4">
              <h3>Trụ sở chính</h3>
              <ul class="list-unstyled">
                <li><i class="icon icon-map-marker"></i>
                  55 Giải phóng Đồng Tâm Hai Bà Trưng Hà Nội</li>
              </ul>
            </div><!--detail-->
            <div class="detail mb-4">
              <h3>Mạng xã hội</h3>
              <div class="social-links flex-container">
                <a  target="_blank" href="https://www.facebook.com/hoang.nhu.7140497"><span class="fs-4" nz-icon nzType="facebook" nzTheme="outline"></span></a>
                <a  target="_blank" href="#"><span class="fs-4"  nz-icon nzType="instagram" nzTheme="outline"></span></a>
                <a  target="_blank" href="#"><span class="fs-4"  nz-icon nzType="twitter" nzTheme="outline"></span></a>
                <a  target="_blank" href="#"><span class="fs-4"  nz-icon nzType="youtube" nzTheme="outline"></span></a>
              </div><!--social-links-->
            </div><!--detail-->

          </div><!--contact-detail-->
        </div>
      </div><!--col-md-6-->

      <div class="col-md-6 p-0">
        <div class="container">
          <div class="row">
            <div class="contact-information col-md-12">
              <h2>Lời cảm ơn</h2>
              <p>Rất mong nhận được đánh giá 4.0 <span nz-icon nzType="star" nzTheme="outline"></span> sau khi trải nghiệm</p>
            </div><!--contact-information-->
          </div>
        </div>
      </div><!--col-md-6-->

    </div>
  </div>
</section>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>


