<section class="testimonials-wrap padding-medium">
  <div class="container">
    <div class="row">
      <div class="reviews-content col-md-12 light text-center">
        <h2 class="section-title">Testimonials</h2>

        <div class="testimonial-slider">
          <div class="testimonials-inner">
            <div class="rating padding-small">
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
            </div>
            <p class="animated zoomIn">“Bakery is ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”</p>
            <div class="testimonial-author">
              <img src="./assets/images/default.png" alt="jane">
              <span class="name d-flex justify-content-center mt-3">Jane Marie</span>
            </div>
          </div><!--reviews-info-->

          <div class="testimonials-inner">
            <div class="rating padding-small">
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
            </div>
            <p class="animated zoomIn">This is absolute best product adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”</p>
            <div class="testimonial-author">
              <img src="./assets/images/default.png" alt="simran">
              <span class="name d-flex justify-content-center mt-3">Simran</span>
            </div>
          </div><!--reviews-info-->

          <div class="testimonials-inner">
            <div class="rating padding-small">
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
              <i class="icon icon-star"></i>
            </div>
            <p class="animated zoomIn">“I really love this product sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.”</p>
            <div class="testimonial-author">
              <img src="./assets/images/default.png" alt="jane">
              <span class="name d-flex justify-content-center mt-3">John Marie</span>
            </div>
          </div><!--reviews-info-->

        </div><!--testimonial-slider-->


      </div><!--col-md-12-->
    </div>
  </div>
</section>
